<html>
    <head>
        <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <form>
            <input type="text" id="url" />
            <button>submit</button>
        </form>
        <script src="/shortUrl.js"></script>
    </body>
</html>