<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="container">
            <form>
                <input type="text" id="url" />
                <button>submit</button>
            </form>
        </div>
        <script src="/shortUrl.js"></script>
    </body>
</html>