body{
    margin: 0;
    padding: 0;
}
#container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('/810bd82ca5ba9225d647b1e717a78bdc.jpg');
    background-size: cover;
}
form{
    width: 600px;
}
input{
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #333;
    margin: auto;
    outline: none;
    box-sizing: border-box;
    font-size: 18px;
}
input:hover{
    box-shadow: 1px 1px 10px #333;
}
button{
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border: none;
    background-color: #666666;
    color: white;
    transition: 0.2s;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
button:hover{
    background-color: #333;
}